doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(type='text/javascript', src='//cdn.webrtc.ecl.ntt.com/skyway-latest.js')
    script(type='text/javascript', src='/javascripts/webrtc.js')
  body
    h1
      a(href="/") Home
    block content
